doctype html
html
  head
    meta(charset="utf-8")
    title StroyMent
    link(rel='stylesheet' href='style/index.css')
    meta(name="description" content="Стройматериалы")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="author" content="Neakit")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css')
  
    script(type="text/javascript" src="../vendor/jquery-1.9.1.js")
    script(type="text/javascript" src="../vendor/jquery.immersive-slider.js")
    link(href='../vendor/immersive-slider.css' rel='stylesheet' type='text/css')

  body
    
    div.header
      div.header-contact
        h1 StroyMent
        span
          li
            img(src="../vendor/img/phone.svg" alt="") 
            a(href="#") +7(967)048-00-03
          li
            img(src="../vendor/img/mail.svg" alt="") 
            a(href="#") romikrd@mail.ru
      img(src="../vendor/img/logo1.png" alt="logo")
      h2 Все строительные материалы в одном месте!
      p Сайт находится в разработке   
    include ../vendor/slider.pug
    div.flex-container
  
      div.flex-item(style="background-image: url(../vendor/img/goods/materials.jpg)")        
        div.item-wrapper
          h3 Строительные материалы         
          li
            a(href="#") ЖБИ, бетон
          li
            a(href="#") Кирпич, блоки, стеновые материалы
          li
            a(href="#") Песок, щебень, гравий          
          li 
            a(href="#") Тепло-, Звуко-, Гидроизоляционные материалы
          li 
            a(href="#") Сухие строительные смеси  
          li
            a(href="#") Подробнее или заказать прайс

      div.flex-item(style="background-image: url(../vendor/img/goods/decoration.jpg)")
          
        div.item-wrapper
          h3 Отделочные материалы         
          li
            a(href="#") Отделочные панели
          li
            a(href="#") Потолки
          li
            a(href="#") Гипсокартонные системы, комплектующие          
          li 
            a(href="#") Керамичесская и каменная плитка
          li 
            a(href="#") Покрытия для пола
          li
            a(href="#") Подробнее или заказать прайс

      div.flex-item(style="background-image: url(../vendor/img/goods/chem.jpg)")
          
        div.item-wrapper
          h3 Строительная химия         
          li
            a(href="#") Лакокрасочные материалы
          li
            a(href="#") Добавки в бетон
          li
            a(href="#") Мастика гидроизоляционная          
          li 
            a(href="#") Грунтовки, шпатлевки, штукатурки, герметик
          li 
            a(href="#") Сухие строительные смеси
          li
            a(href="#") Подробнее или заказать прайс

      div.flex-item(style="background-image: url(../vendor/img/goods/roof.jpg)")
        
        div.item-wrapper
          h3 Кровельные материалы        
          li
            a(href="#") Черепица
          li
            a(href="#") Профнастил
          li
            a(href="#") Рубероид          
          li 
            a(href="#") Шифер
          li 
            a(href="#") Фальцевая кровля
          li
            a(href="#") Подробнее или заказать прайс        

      div.flex-item(style="background-image: url(../vendor/img/goods/tools.jpg)")
        
        div.item-wrapper
            h3 Строительный инструмент        
            li
              a(href="#") Ручной и механичесский инструмент
            li
              a(href="#") Термоинструмент
            li
              a(href="#") Садовый инструмент          
            li 
              a(href="#") Инструмент для дачи
            li 
              a(href="#") Электрический инструмент
            li
              a(href="#") Подробнее или заказать прайс

      div.flex-item(style="background-image: url(../vendor/img/goods/plumbing.jpg)")
        
        div.item-wrapper
            h3 Сантехнические принадлежности        
            li
              a(href="#") Ванны, душевые кабины, умывальники и мойки
            li
              a(href="#") Сифоны
            li
              a(href="#") Инсталляционные системы          
            li 
              a(href="#") Смесители
            li 
              a(href="#") Унитазы
            li
              a(href="#") Подробнее или заказать прайс
    footer.footer-distributed
      div.footer-left
        h3 StroyMent        
        p.footer-company-name StroyMent &copy; 2017
      
      div.footer-center
        div          
          p Лялин переулок, 1/36с2 Москва, Россия
        div          
          p 105062
        div          
          a(href="#") romikrd@mail.ru
         
      div.footer-right
        div.footer-company-about
          span Информация для справок Регистрационный номер предприятия: 317774600175024.
        
        div.footer-icons         
          div
            img(src="../vendor/img/phone.svg" alt="")
            a(href="#") +7(967)048-00-03
          div
            img(src="../vendor/img/mail.svg" alt="")
            a(href="#") romikrd@mail.ru 
     






